body {
    font-family: Arial, sans-serif;
}
header, footer {
    background-color: #611a1a;
    padding: 1em;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
main {
    display: flex;
    justify-content: space-between;
}
article {
    margin: 20px;
    padding: 10px;
    border: 1px solid #381414;
    flex: 1;
}
aside {
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #682121;
}
.author {
    font-size: 0.9em;
    color: #0e0000;
}
figure {
    margin: 0;
    padding: 0;
}
figcaption {
    font-size: 0.9em;
    color: #421111;
    text-align: center;
    margin-top: 10px;
}